.header__cosa1 {
    display: flex;
    background-color: crimson;
    color: aliceblue;
    text-align: center;
    height: 200px;
    padding: 30px;
    flex-wrap: nowrap;
    margin-bottom: 30px;

}