@import url(estiloscosa1.css);

*{margin: 0;
}
.header__index{
    background-color: bisque;
    height: 200px;
} 
.header__index h1 {color: red;
font-size: large;
text-align: center;
transition: 2s;
padding: 20px;
}
.titulo__index:hover {
    color: black;
    font-size: xx-large;

}

.Menu__lista {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    padding: 20px;
}
 .Menu__lista a {
    text-decoration: none;
    color: black;
    border: black 1px solid;
    
  
 }

.list__item:hover {
    background-color: coral;

}

@media (max-width: 767px) {
    .Menu__lista {
        font-size: 70%;
    }

}